<!DOCTYPE html>
<html lang="en">
<%- include("partials/head"); %>
<body>
  <%- include("partials/navbar"); %>
  <h1><%= trainer.name %></h1>
  <a href="/">Back to Trainers</a>
  <main>
    <% pokemon.forEach(mon => { %>
      <div>
        <span><%= mon.species %></span>
        <span><%= mon.type_1 %></span>
        <span><%= mon.type_2 %></span>
      </div>
    <% }); %>
  </main>
</body>
</html>