<!DOCTYPE html>
<html lang="en">
<%- include("partials/head"); %>
<body>
  <%- include("partials/navbar"); %>
  <h1><%= type.type %></h1>
  <a href="/types">Back to Types</a>
  <main>
    <% pokemon.forEach(mon => { %>
      <div>
        <span><%= mon.species %></span>
        <span><%= mon.type_1 %></span>
        <span><%= mon.type_2 %></span>
        <span>Trainer: <%= mon.trainer %></span>
      </div>
    <% }); %>
    <% if (!pokemon.length) { %>
      <p>This type has no pokemon!</p>
    <% } %>
  </main>
</body>
</html>